

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media screen and (min-width: 1920px) {
  .touchscreenBtn-lg {
    height: 250px;
    width:  100%;
    font-size: 4em;
  }
  .touchscreenBtn-md {
    height: 90px;
    width:  90%;
    font-size: 2em;
  }
  .container {
    width:1900px;
  }
  .mainmenuBtn {
    position: fixed;
    top:55px;
    right:20px;
    width:90px;
    height:90px;
	font-size:2em;
  }
  .gobackBtn {
    position: fixed;
    top:55px;
    right:150px;
    width:90px;
    height:90px;
	font-size:2em;
  }
  .jumbotron {
  padding:0px;
  padding-top:0px;
  padding-bottom:0px;
  }
}
.list {
   -webkit-column-count: 4; /*can be anything*/
    -moz-column-count: 4;
    column-count: 4;
	list-style-type: none;
}
li:nth-child(even) a div {
	background-color:#E8E8E8 ;
	}
	
.facility_list {
   -webkit-column-count: 1; /*can be anything*/
    -moz-column-count: 1;
    column-count: 1;
	font-size:1em;
}
.people_list {
 	font-size:1em;
}
