  <button type="button" onclick="goBack()" class="btn btn-primary touchscreenBtn-lg gobackBtn">
    Go<br />
    Back
  </button>
  
<script>
function goBack() {
    window.history.back()
}
</script>
