<div class="jumbotron">
  <div class="container">
    <h1>Find People / Facilities</h1>
  </div>
</div>

<div class="container">
	  <div class="row" style="font-size:2em">
			<div class="col-md-6">
				People By Last Name:
			</div>
			<div class="col-md-4 col-md-offset-2">
				<!-- Label area above Facilities button -->
			</div>
	  </div>
      <div class="row">
        <div class="col-md-3">
          <button id="button_firsthalf" type="button" class="btn btn-md btn-primary touchscreenBtn-md">
		  {{ @firsthalf_firstperson }} - {{ @firsthalf_lastperson }}
		  </button>
        </div>
        <div class="col-md-3">
          <button id="button_secondhalf" type="button" class="btn btn-md btn-primary touchscreenBtn-md">
		  {{ @secondhalf_firstperson }} - {{ @secondhalf_lastperson }}
		  </button>
       </div>
        <div class="col-md-4 col-md-offset-2">
          <button id="button_facilities" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Facilities</button>
        </div>
		
      </div>
	  <hr />
	  <div class="row">
		<div id="div_firsthalf" class="col-md-12 show">
		<ul class="list people_list">
		<repeat group="{{ @firsthalf }}" value="{{ @item }}">
			<li>
			<a href="/room-map/{{@item.bldg}}/{{@item.roomNumber}}"><div class="col-md-7">{{ @item.lastname }}, {{ @item.firstname  }}</div>
			<div class="col-md-5">{{ @item.roomNumber }}</div>
			</a>
			</li>
		</repeat>
		</ul>
		</div>
		<div id="div_secondhalf" class="col-md-12 hide">
		<ul class="list people_list">
		<repeat group="{{ @secondhalf }}" value="{{ @item }}">
			<li>
			<a href="/room-map/{{@item.bldg}}/{{@item.roomNumber}}"><div class="col-md-7">{{ @item.lastname }}, {{ @item.firstname  }}</div>
			<div class="col-md-5">{{ @item.roomNumber }}</div>
			</a>
			</li>
		</repeat>
		<ul>
		</div>
		<div id="div_facilities" class="col-md-12 hide">
		<repeat group="{{ @results }}" key="{{ @key }}" value="{{ @department }}">
		<div class="col-md-6">
		<ul class="list facility_list">
			<li>
			<div class="col-md-12"><h2>{{ @key }}</h2></div>
			</li>
			<repeat group="{{ @department }}" key="{{ @key }}" value="{{ @category }}">
			<li>
			<div class="col-md-12"><h4>{{ @key }}</h4></div>
			</li>
			<repeat group="{{ @category }}" value="{{ @item }}">
			<li>
			<a href="/room-map/{{@item.bldg}}/{{@item.roomNumber}}"><div class="col-md-7">{{ @item.name }}</div>
			<div class="col-md-5">{{ @item.roomNumber }}</div>
			</a>
			</li>
			</repeat>
			</repeat>
		</ul></div>
		</repeat>
		</div>
	  </div>
</div>
