<div class="jumbotron">
  <div class="container">
    <h1>{{ @building_name }} Floor Maps</h1>
  </div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-xs-2">
			<button id="btn_floormap_1" type="button" class="btn btn-md btn-inverse touchscreenBtn-md">Floor 1</button>
        </div>
		<div class="col-xs-2">
			<button id="btn_floormap_2" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Floor 2</button>
        </div>
		<div class="col-xs-2">
			<button id="btn_floormap_3" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Floor 3</button>
        </div>
		<div class="col-xs-2">
			<button id="btn_floormap_4" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Floor 4</button>
        </div>
		<div class="col-xs-2">
			<button id="btn_floormap_5" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Floor 5</button>
        </div>
		<div class="col-xs-2">
			<button id="btn_floormap_6" type="button" class="btn btn-md btn-primary touchscreenBtn-md">Floor 6</button>
        </div>
	</div>
	<div class="row" style="text-align:center">
		<div id="div_floormap_1" class="col-xs-12 show"><img src="/floorplans/563-1-1.png" style="height:800px"/></div>
		<div id="div_floormap_2" class="col-xs-12 hide"><img src="/floorplans/563-2-1.png" style="height:800px"/></div>
		<div id="div_floormap_3" class="col-xs-12 hide"><img src="/floorplans/563-3-1.png" style="height:800px"/></div>
		<div id="div_floormap_4" class="col-xs-12 hide"><img src="/floorplans/563-4-1.png" style="height:800px"/></div>
		<div id="div_floormap_5" class="col-xs-12 hide"><img src="/floorplans/563-5-1.png" style="height:800px"/></div>
		<div id="div_floormap_6" class="col-xs-12 hide"><img src="/floorplans/563-6-1.png" style="height:800px"/></div>
	</div>
</div>
<script>

</script>	