
<div class="container">
    <hr>

<footer style="position: fixed; bottom: 2px;">
  <p>Developed with <span class="glyphicon glyphicon-heart"></span> by UCSB Geography.  Locations provided by the UCSB Interactive Campus Map (Visit http://map.geog.ucsb.edu/ for more information)</p>
</footer>
</div> <!-- /container -->

  <script src="/js/vendor/bootstrap.min.js"></script>

  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
