<div class="jumbotron">
	<div class="container">
	  <h1>Welcome to Ellison Hall!</h1>
	  <p>This is a touchscreen directory that you can use to find people and facilities in the building.</p>
	  <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
			<div class="col-xs-8">
				<a href="/directory"><button type="button" class="btn btn-lg btn-primary touchscreenBtn-lg">Find People / Facilities</button></a>
			</div>
			<div class="col-xs-4">
				<a href="/floormaps"><button type="button" class="btn btn-lg btn-primary touchscreenBtn-lg">Floor Maps</button></a>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div style="margin:10px;height:550px; background: url('/images/ellison-overview-map.png') no-repeat;background-size: 100%;">&nbsp;</div>
		</div>
	</div>
</div>

	