<div class="jumbotron">
	<div class="container">
	  <h1>Welcome!</h1>
	  <p>This is an installer to help you get the building directory up and running.</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="bg-info col-md-4 col-md-offset-4">
		<h4 class="bg-info">Fields marked with a * are required</h4>
		</div>
		<div class="col-md-8 col-md-offset-2">

<form class="form-horizontal" action="/installer" method="post">
<fieldset>
<!-- Form Name -->
<legend>MySQL Database Configuration</legend>
<p>A MySQL database is required to store the people and facilities.  A newly created or empty database is perfectly fine as this installer can automatically attempt to create the necessary tables in a MySQL database.</p>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="host">Server Hostname/IP</label>  
  <div class="col-md-4">
  <input id="host" name="host" type="text" placeholder="localhost" class="form-control input-md">
  <span class="help-block">Usually 'localhost' but depends on your configuration</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="port">Server Port</label>  
  <div class="col-md-4">
  <input id="port" name="port" type="text" placeholder="3306" class="form-control input-md">
  <span class="help-block">Default: 3306</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dbname">Database *</label>  
  <div class="col-md-4">
  <input id="dbname" name="dbname" type="text" placeholder="your_database" class="form-control input-md" required="">
  <span class="help-block">Name of the MySQL database that you want to use.  This database must already exist and the user must have SELECT/UPDATE/INSERT/DELETE permissions.</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="mysqlusername">Username *</label>  
  <div class="col-md-4">
  <input id="mysqlusername" name="mysqlusername" type="text" placeholder="your_username" class="form-control input-md" required="">
  <span class="help-block">Username used to connect to the MySQL database</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="mysqlpassword">Password *</label>
  <div class="col-md-4">
    <input id="mysqlpassword" name="mysqlpassword" type="password" placeholder="your_password" class="form-control input-md" required="">
    <span class="help-block">Password used to connect to the MySQL database</span>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="execute_sql">Create required tables in DB</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="execute_sql-1">
      <input type="radio" name="execute_sql" id="execute_sql-1" value="true" checked="checked">
      Yes
    </label> 
    <label class="radio-inline" for="execute_sql-0">
      <input type="radio" name="execute_sql" id="execute_sql-0" value="false">
      No
    </label>
	<span class="help-block">Let the installer script attempt to install the necessary tables in the MySQL database.</span>
  </div>
</div>


<legend>Editor Account</legend>
<p>The Editor account is used to modify, update, and delete records from the database.  A strong password should be used.</p>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="editorusername">Editor Username *</label>  
  <div class="col-md-4">
  <input id="editorusername" name="editorusername" type="text" placeholder="editor" class="form-control input-md" required="">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="editorpassword">Editor Password *</label>
  <div class="col-md-4">
    <input id="editorpassword" name="editorpassword" type="password" placeholder="password123" class="form-control input-md" required="">
  </div>
</div>

<hr />

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit_button">Ready to install?</label>
  <div class="col-md-8">
    <button id="submit_button" name="submit_button" class="btn btn-success">I'm Ready!</button>
  </div>
</div>

</fieldset>
</form>

		</div>
	</div>
<script>
$( document ).ready (function() {
  debugLog('Installer JS loaded and $(document).ready() triggered.');
  function checkValues() {
  }
});
</script>	