<div class="jumbotron">
	<div class="container">
	  <h2>Installed completed successfully!</h2>
	  <p>That was easy, wasn't it?</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<h2>You can view the touchscreen directory now: <a href="/">Main Menu</a></h2>
		<br />
		<h3>To manage the people and facilities, you can use <a href="/editor">the Editor</a> or <a href="/adminer">Adminer</a>.</h3>
		<h4>The <a href="/editor">Editor</a> is a basic interface designed for all users and you will use the credentials that you created just now.</h4>
		<h4><a href="/adminer">Adminer</a> is for those familiar with MySQL databases and requires the MySQL database information to use.  This is primarely for administrators.</h4>
		<br />
		<h1>Enjoy and be sure to like/star/+1 our project!</h1>
		</div>
	</div>
</div>