<div class="jumbotron">
	<div class="container">
		<h1>Map</h1>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-12">
		<iframe src="http://map.geog.ucsb.edu/api.php?action=quickmap&bldg={{ @bldg }}&rm={{ @room }}" style="width:100%; height:700px"></iframe>
		</div>
	</div>
</div>